Choose more than one if appropriate
<article class="listing">
    <h3>{{rental.title}}</h3>
    <div class="detail owner">
        <span>
            {{input type='checkbox' name= rental.a1}}

                {{rental.a1}}
        </span>
    </div>
    <div class="detail type">
        <span>
            {{input type='checkbox' name= rental.a2}}

            {{rental.a2}}
        </span>
    </div>
    <div class="detail location">
        <span>
            {{input type='checkbox' name= rental.a3}}

            {{rental.a3}}
        </span>
    </div>
    <div class="detail bedrooms">
        <span>
            {{input type='checkbox' name= rental.a4}}

            {{rental.a4}}
        </span>
    </div>
</article>
<br>