Describe in your own words
<article class="listing">
    <h3>{{rental.title}}</h3>
    <div>
        <span>
            {{input value= rental.id type= "text" }}
        </span>
    </div>
</article>
<br>
{{yield}}
