This is mcq question choose one of them
<article class="listing">
    <h3>{{rental.title}}</h3>
    <div class="detail owner">
        <span>
            {{#radio-button value= rental.a1 groupValue=flavor changed="flavorToggled"}}
                {{rental.a1}}
            {{/radio-button}}
        </span>
    </div>
    <div class="detail type">
        <span>        {{#radio-button value=rental.a2 groupValue=flavor changed="flavorToggled"}}
            {{rental.a2}}
        {{/radio-button}}</span>
    </div>
    <div class="detail location">
        <span>{{#radio-button value=rental.a3 groupValue=flavor changed="flavorToggled"}}
            {{rental.a3}}
        {{/radio-button}}</span>
    </div>
    <div class="detail bedrooms">
        <span>{{#radio-button value= rental.a4 groupValue=flavor changed="flavorToggled"}}
            {{rental.a4}}
        {{/radio-button}}</span>
    </div>
</article>
{{yield}}

